<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>TheGreatestTrivia</title>
</head>

<body>
	<header>
		<h1>The Greatest Trivia Show on Earth!</h1>
	</header>

	<div>
		<h3>{% block question_text %}{% endblock %}</h3>
		{% block error_message %}
		{% endblock %}
		{% block choice_content %}
		{% endblock %}
	</div>

	<div>
		{% block score %}
		{% endblock %}
	</div>
</html>